* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("./images/bg-pattern-bottom.svg");
    background-color: hsl(185, 75%, 39%);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.sr-only {
    position: absolute;
    left: -9999px;
}
.container {
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
}
.banner {
    position: relative;
    /* width: 30rem; */
    min-height: 8rem;
    background: url("./images/bg-pattern-card.svg");
    border-radius: 1rem 1rem 0 0;
}
.avatar {
    width: 5rem;
    height:5rem;
    border-radius: 50%;
    border: 0.5rem solid hsl(0, 0%, 100%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
main {
    margin-top: 1rem;
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    display: inline-block;
}
.age {
    color: hsl(227, 10%, 46%);
    display: inline-block;
    margin-left: 1rem;
}
.location {
    color: hsl(0, 0%, 59%);
    margin-top: 0.25rem;
}

hr {
    margin-block: 1.5rem;
    width: 100%;
    border-top: 1px solid hsl(0, 0%, 59%);
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.number {
    color:hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 1.5rem;
}
.label {
    color:hsl(0, 0%, 59%);
    font-size: 1rem;
}
